body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #00b4db, #0083b0); /* Gradiente azul */
    color: #fff;
}

header {
    background: linear-gradient(to right, #00b4db, #0083b0);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

footer {
    background: #333;
    padding: 10px;
    text-align: center;
    color: #fff;
}
